<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
<hr/>
<app-name-child name="TuChan">
</app-name-child>
<hr/>
<app-hello-world 
  *ngFor="let name of nameArray"
  [title]="title" 
  [name]="name" 
  description="Hello">
</app-hello-world>
<hr/>
<h2>Source code version</h2>
<button type="button" (click)="newMinor()">New minor version</button>
<button type="button" (click)="newMajor()">New major version</button>
<app-version-child [major]="major" [minor]="minor"></app-version-child>
<hr/>
<app-vote-taker>
</app-vote-taker>
<hr/>
<app-countdown-parent-lv>
</app-countdown-parent-lv>